<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./dashbord.css">
</head>

<body>
    <header class="header">

        <div class="logo">
            <img src="image/lj_logo.png" alt="">
        </div>

        <nav class="navbar">
            <a href="#" class="">Dashboard</a>
            <a href=" #">Submitions</a>
            <a href="#">Courses</a>
            <a href="#">Projects</a>
            <a href="#">Logout</a>
        </nav>
    </header>
    
</body>

</html>