<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form method="post" action="/forget"> 
		<input type="number"  id="enrollment" name="enrollment" placeholder="enter your enrollment"> <br> <br>
		<input type="password" name="newpassword" placeholder="enter your new password"><br> <br>
		<input type="password" id="confirmpassword" name="confirmpassword" placeholder="enter your confirm password"><br> <br>
		<input type="submit" value="submit">
	</form>

	<!-- <script src="./forget.js">
	</script> -->
</body>
</html>